*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
# Ignore src/ in root but not in subdirectories
/src/
chaingive-mobile/node_modules/
chaingive-mobile/node_modules/
**/node_modules/
